<html>
{% include 'headers.jinja2' %}

<body>
    {% include 'navbar.jinja2' %}
    <div class="container">
        <div class="row">
            <h2 class="title"> {{ debate.title }} </h2>
            <div id="for" class="col-md-6 title">
                <h3>For</h3>
                <ul>
                    {% for argument in arguments %}
                        {% if argument[0] == 'L' %}
                            <li id="argument{{ argument[3] }}">{{ argument[1] }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div id="against" class="col-md-6 title">
                <h3>Against</h3>
                <ul>
                    {% for argument in arguments %}
                        {% if argument[0] == 'R' %}
                            <li id="argument{{ argument[3] }}">{{ argument[1] }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>
<script src="/assets/js/views/views.js"></script>
<script>
    document.body.onload = function () {
        new Debate(JSON.parse('{{ debate_data | safe }}'))
    };
</script>
</html>