<html>
    {% include 'headers.jinja2' %}

    <body>
        {% include 'navbar.jinja2' %}

        <div class="container feed">
            <h1 class="title">Latest Debates</h1>
            <div class="row">
                {% for debate in debates %}
                <p class="debate_title">
                    <a href="/debates/{{ debate.id }}">{{ debate.title }}</a>
                </p>
                {% endfor %}
            </div>
        </div>
    </body>
</html>