<html>
    {% include 'headers.jinja2' %}
    <body>
        {% include 'navbar.jinja2' %}
        <div class="content container">
            <div class="row">
                <div class="input-group col-md-6">
                    <input id="username_input" type="text" class="form-control" placeholder="username">
                    <input id="password_input" type="password" class="form-control" placeholder="password">
                    <button id="login_submit_btn" type="button" class="btn btn-default">Login</button>
                </div>
            </div>
        </div>
    </body>
<script>
    document.body.onload = function () {
        document.getElementById("login_submit_btn").onclick = function () {
            $.ajax({
                url: '/api/login',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    username: $("#username_input").val(),
                    password: $("#password_input").val()
                }),
                async: true,
                success: function (data) {
                    window.location.href = getParams()['redirect']
                }
            })
        }
    }
</script>
</html>