<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Aporia-online</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/feed">Feed<span class="sr-only">(current)</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          {% if user is defined and user != None%}
              <li><a href="/profile">{{ user.username }}</a></li>
              <li><a href="/logout">Log out</a></li>
          {% else %}
              <li id="login_btn"><a href="#">Login</a></li>
          {% endif %}

      </ul>
    </div><!-- /.navbar-collapse -->
    <script>
        document.getElementById('login_btn').onclick = function () {
            window.location.href = "/login?redirect=" + window.location.pathname;
        };
    </script>
  </div><!-- /.container-fluid -->
</nav>