<html>
    {% include 'headers.jinja2' %}
    <body>
        {% include 'navbar.jinja2' %}

        <div class="content container">
            <div class="row">
                <div class="input-group col-md-6">
                    <input id="name_input_register" type="text" class="form-control" placeholder="name">
                    <input id="email_input_register" type="text" class="form-control" placeholder="email">
                    <input id="username_input_register" type="text" class="form-control" placeholder="username">
                    <input id="password_input_register" type="password" class="form-control" placeholder="password">
                    <button id="register_submit_btn" type="button" class="btn btn-default">Login</button>
                </div>
            </div>
        </div>
    </body>
<script>
    document.body.onload = function () {
        document.getElementById("register_submit_btn").onclick = function () {
            $.ajax({
                url: '/api/users',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    username: $('#username_input_register').val(),
                    password: $('#password_input_register').val(),
                    fullname: $('#name_input_register').val(),
                    email: $('#email_input_register').val()
                }),
                async: true,
                success: function (data) {
                    window.location.href = '/login';
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }
    }
</script>
</html>